<%- include('../partial/head.ejs') %>


<!-- Custom styles for this template -->
<link href="/css/signin.css" rel="stylesheet">
<link href="/css/toastify.min.css" rel="stylesheet">
<script src="/library/toastify-js.js"></script>
</head>

<body class="my-3 container border border-info text-center ">
    <header>
        <div class="px-3 py-2 border rounded-3 my-3 border border-secondary">
            <div class="container d-flex flex-wrap align-items-center justify-content-center">
                <div class="text-end">
                    <% if (user) { %>
                        <a class="btn btn-light text-dark me-2 nav-link" href="/logout">تسجيل الخروج</a>
                    <% } else { %>
                        <a class="btn btn-outline-success nav-link" href="/register">التسجيل</a>
                    <% } %>
                </div>
            </div>
        </div>
    </header>

    <main class="form-signin">
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <strong> <%= success[0] %> </strong>
            </div>
        <% } %>    
        <% if (error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <strong> <%= error[0] %> </strong>
            </div>
        <% } %>    
            <h1 class="h3 mb-3 fw-normal">تغيير كلمة المرور</h1>

        <form action="/reset-password" method="POST" id="forgotPasswordForm" novalidate>
            <input type="hidden" name="token" value="<%= token %>">
            </input>

            <div class="form-floating mb-3">
                <input name="password" type="password" id="password"
                class="form-control" >
                <label for="password">كلمة المرور الجديدة </label>
            </div>
            <div class="form-floating mb-3">
                <input name="confirmPassword" type="password" id="confirmPassword" class="form-control" > 
                  <label for="confirmPassword">تأكيد كلمة المرور</label>
            </div>

           
            <button class="w-100 btn btn-lg btn-success" type="submit">تغيير الآن</button>
        </form>
    </main>
<!-- 
    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            const errors = [];

if (!password || !confirmPassword) {
    errors.push('كلمة المرور وتأكيد كلمة المرور مطلوبان');
}

if (password !== confirmPassword) {
    errors.push('كلمة المرور وتأكيد كلمة المرور غير متطابقين');
}

if (password.length < 5) {
    errors.push('كلمة المرور يجب أن تكون بطول 5 محارف على الأقل');
}

if (errors.length > 0) {
    event.preventDefault(); // منع إرسال النموذج
    Toastify({
        text: errors.join(', '),
        duration: 5000,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "center", // `left`, `center` or `right`
        backgroundColor: "linear-gradient(to right, #f170a4, #f52a7c)",
        stopOnFocus: true, // Prevents dismissing of toast on hover
    }).showToast();
}
});
    </script> -->



<%- include('../partial/end.ejs') %>
