<%- include('../partial/head.ejs') %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 5.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    </head>


    <body class="container border border-info text-center">
        <header>
            <div class="px-3 py-2 border rounded-3 my-3 border border-secondary">
                <div class="container d-flex flex-wrap align-items-center justify-content-center">
                  <div class="text-end">
                    <% if (user) { %>
                      <a class="btn btn-light text-dark me-2 nav-link" href="/logout">تسجيل الخروج</a>
                    <% } else { %>
                      <a class="btn btn-outline-success nav-link" href="/login">تسجيل الدخول</a>
                    <% } %>
                  </div>
                </div>
              </div>
        </header>

        <main class="form-signin">
<!--من الفلاش -->
            <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <strong> <%= error %> </strong>
                </div>
            <% } %>
<!-- من الفاليديتر بالاوث كونترولر
 -->            
            <% if ( errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <strong><%= errorMessage %></strong>
                </div>
            <% } %>

            <form action="/register" method="post" novalidate>

                <h1 class="h3 mb-3 fw-normal"> التسجيل </h1>

                <div class="form-floating mb-3">
                    <input name="userName" type="text" id="username"
                    class="form-control <%= validationErrors.find(e => e.path === 'userName') ? 'is-invalid' : ''%>" 
                        value="<%= oldInput.userName  %>">
                    <label for="username">اسم المستخدم</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="email" type="email"  id="email"
                    class="form-control <%= validationErrors.find(e => e.path === 'email') ? 'is-invalid' : ''%>"
                        value="<%= oldInput.email %>" >
                    <label for="email">البريد الالكتروني</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="password" type="password" id="password"
                    class="form-control <%= validationErrors.find(e => e.path === 'password') ? 'is-invalid' : '' %>" 
                        value="<%= oldInput.password %>">
                    <label for="password">كلمة المرور</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="confirmPassword" type="password" id="confirmPassword"
                    class="form-control <%= validationErrors.find(e => e.path === 'confirmPassword') ? 'is-invalid' : '' %>" 
                        value="<%= oldInput.confirmPassword %>">
                    <label for="confirmPassword">تأكيد كلمة المرور</label>
                </div>
                <button class="w-100 btn btn-lg btn-success" type="submit">سجل</button>
            </form>
        </main>

    <%- include('../partial/end.ejs') %>
