<!-- المسار: /src/views/resources/index.ejs -->
<%- include('../partial/head.ejs') %>
    <style>
        .scrollspy-example {
            position: relative;
            height: 400px;
            overflow: auto;
        }
        .list-group-item-action:hover {
            cursor: pointer;
            background-color: aquamarine;
        }
        .loading-spinner {
        display: none;
        font-size: 24px;
        margin-top: 5px;
    }
    </style>

 <script src="library/toastify-js.js" lang="text/javascript"></script>
 <link rel="stylesheet" href="css/toastify.min.css">

</head>
<body>
    <%- include('../partial/navBar.ejs') %>
    <div class="container">

        <% if (success_msg && success_msg.length> 0) { %>
            <div class="alert alert-success">
                <% success_msg.forEach(function(msg) { %>
                    <p>
                        <%= msg %>
                    </p>
                    <% }); %>
            </div>
            <% } %>

        <h1 class="text-center mt-5">مصادر تعليمية و اوراق عمل </h1>
        <a href="/resources/upload" class="btn btn-primary mb-3">ارفع مرفق تعليمي جديد</a>
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">
                    <% resources.forEach((resource, index) => { %>
                        <a class="list-group-item list-group-item-action" href="#list-item-<%= index %>"><%= resource.title %></a>
                    <% }); %>
                </div>
            </div>
            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                    <% resources.forEach((resource, index) => { %>
                        <h4 id="list-item-<%= index %>"><%= resource.title %></h4>
                        <p>
                            <% if (resource.thumbnailUrl) { %>
                                <img src="<%= resource.thumbnailUrl %>" alt="<%= resource.title %>" class="img-thumbnail mr-3" style="width: 100px; height: auto;">
                            <% } %>
                            <% if (resource.type === 'image') { %>
                                <img src="<%= resource.url %>" alt="<%= resource.title %>" class="img-fluid">
                            <% } else { %>
                                <a href="<%= resource.url %>" target="_blank"><%= resource.title %></a>
                            <% } %>
                        </p>
<!-- <a href="<%#= resource.url %>" target="_blank" download="<%#= resource.title %>" class="btn btn-primary btn-sm">View/Download</a>
 -->                    
                        <form action="/resources/download/<%= resource.id %>" method="get" onsubmit="return jobber()">
                            <button id="downloader" type="submit" class="btn btn-info btn-sm ml-2 job">view/download</button>
                        </form>


                        <div class="loading-spinner" id="loading-spinner">
                            <i class="fas fa-spinner fa-spin"></i> تتم المعالجة ...
                        </div>


                        <form action="/resources/<%= resource.id %>?_method=DELETE" method="POST" onsubmit="return jobber();">
                            <button type="submit" class="btn btn-danger btn-sm ml-2 job">Delete</button>
                        </form>
                        <hr>
                    <% }); %>
                </div>
               
            </div>
        </div>
    </div>
   
    <script>
        function jobber() {
            const elements = document.querySelectorAll('.job');

            elements.forEach(element => {
                document.getElementById('loading-spinner').style.display = 'block'
            });
        }
        </script>

 <%- include('../partial/end.ejs') %>
